# Bytecode
**/__pycache__/

# Development
env*/
.vscode/
.DS_Store

# Distibution
dist/
*.egg-info/

# Testing
.cache/
.pytest_cache/
contract_data/

*.pyc
build/

# IDE
.idea/
*.iml

# dotenv environment vars
.env

# truffle build directory
build/

# npm dependency directory
node_modules

# Debug log from npm
npm-debug.log

# coverage file output
coverage
coverage.json


# pytest-xprocess
.xprocess/