# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

executors:
  truffle_executor:
    docker:
      - image: circleci/node:10.16
  python_executor:
    docker:
      - image: circleci/python:3.7

commands:
  setup_truffle_env:
    steps:
      - checkout
      - run:
          name: Set up environment
          command: echo 'export PATH="$(npm bin):$PATH"' >> $BASH_ENV
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "plasma_framework/package.json" }}
      - run:
          name: Install dependencies
          working_directory: ~/repo/plasma_framework
          command: |
            npm install
            rm -rf node_modules/*/.git # workaround for problem with git dependencies
      - save_cache:
          paths:
            - plasma_framework/node_modules
          key: v2-dependencies-{{ checksum "plasma_framework/package.json" }}

  setup_python_env:
    steps:
      - checkout
      - run:
          name: Prepare environment
          command: |
            sudo chown -R circleci:circleci /usr/local/bin /usr/local/lib/python3.7/site-packages
            sudo apt update && sudo apt install nodejs npm
            sudo npm install -g n && sudo n stable
            sudo npm install -g ganache-cli
      - restore_cache:
          keys:
            - dependencies_v1_{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
            python -m solcx.install v0.4.24
      - save_cache:
          key: dependencies-{{ checksum "requirements.txt" }}
          paths:
            - /usr/local/bin
            - /usr/local/lib/python3.7/site-packages
            - /usr/local/lib/node_modules

jobs:
  Truffle tests:
    executor: truffle_executor
    working_directory: ~/repo
    steps:
      - setup_truffle_env
      - run:
          name: Run tests
          command: truffle test 
          working_directory: ~/repo/plasma_framework
          environment:
            CI: true
            MOCHA_REPORTER: eth-gas-reporter
      - run:
          name: Codechecks for gas usage
          command: npx codechecks
          working_directory: ~/repo/plasma_framework
          
  Truffle linter:
    executor: truffle_executor
    working_directory: ~/repo
    steps:
      - setup_truffle_env
      - run:
          name: Run linter
          command: eslint . 
          working_directory: ~/repo/plasma_framework
  
  Python tests:
    executor: python_executor
    working_directory: ~/repo
    steps:
      - setup_python_env
      - run:
          name: Run tests
          command: make test
  
  Python linter:
    executor: python_executor
    working_directory: ~/repo
    steps:
      - setup_python_env
      - run:
          name: Run linter 
          command: make lint

workflows:
  version: 2
  build_root_chain_contract:
    jobs:
      - Python tests
      - Python linter

  build_plasma_framework:
    jobs:
      - Truffle tests
      - Truffle linter
