# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

executors:
  truffle_executor:
    docker:
      - image: circleci/node:10.16
  python_executor:
    docker:
      - image: circleci/python:3.7

commands:
  setup_truffle_env:
    steps:
      - checkout
      - run:
          name: Set up environment
          command: echo 'export PATH="$(npm bin):$PATH"' >> $BASH_ENV
      - restore_cache:
          keys:
            - dependencies-v1-{{ checksum "~/repo/plasma_framework/package-lock.json" }}
      - run:
          name: Install dependencies
          working_directory: ~/repo/plasma_framework
          command: |
            npm install
            find node_modules -name .git | xargs rm -fr  # workaround for a problem with git dependencies
      - save_cache:
          key: dependencies-v1-{{ checksum "~/repo/plasma_framework/package-lock.json" }}
          paths:
            - ~/repo/plasma_framework/node_modules

  setup_python_env:
    steps:
      - checkout
      - run:
          name: Change dependencies directories ownership
          command: |
            sudo chown -R circleci:circleci /usr/local/bin /usr/local/lib
      - restore_cache:
          keys:
            - dependencies-v1-{{ checksum "~/repo/plasma_framework/python_tests/requirements.txt" }}
      - run:
          name: Prepare environment
          command: |
            sudo apt update && sudo apt install nodejs npm
            sudo npm install -g n && sudo n stable
            sudo npm install -g ganache-cli
            python3 -m venv ~/venv
      - run:
          name: Install dependencies
          working_directory: ~/repo/plasma_framework/python_tests
          command: |
            . ~/venv/bin/activate
            make init dev
            python -m solcx.install v0.5.11
      - save_cache:
          key: dependencies-v1-{{ checksum "~/repo/plasma_framework/python_tests/requirements.txt" }}
          paths:
            - ~/venv
            - /usr/local/bin
            - /usr/local/lib/node_modules

jobs:
  Truffle tests:
    executor: truffle_executor
    working_directory: ~/repo
    steps:
      - setup_truffle_env
      - run:
          name: Run tests
          command: truffle test 
          working_directory: ~/repo/plasma_framework
          environment:
            CI: true
            MOCHA_REPORTER: eth-gas-reporter
      - run:
          name: Codechecks for gas usage
          command: npx codechecks
          working_directory: ~/repo/plasma_framework
          
  Solidity coverage:
    executor: truffle_executor
    working_directory: ~/repo
    steps:
      - setup_truffle_env
      - run:
          name: Run solidity coverage
          command: npm run coverage && cat coverage/lcov.info | coveralls
          working_directory: ~/repo/plasma_framework

  Javascript linter:
    executor: truffle_executor
    working_directory: ~/repo
    steps:
      - setup_truffle_env
      - run:
          name: Run javascript linter
          command: eslint . 
          working_directory: ~/repo/plasma_framework

  Solidity linter:
    executor: truffle_executor
    working_directory: ~/repo
    steps:
      - setup_truffle_env
      - run:
          name: Run solidity linter
          command: npm run linter-sol
          working_directory: ~/repo/plasma_framework

  Python tests:
    executor: python_executor
    working_directory: ~/repo
    steps:
      - setup_python_env
      - run:
          name: Run tests
          working_directory: ~/repo/plasma_framework/python_tests
          command: |
            . ~/venv/bin/activate
            make test
  
  Python linter:
    executor: python_executor
    working_directory: ~/repo
    steps:
      - setup_python_env
      - run:
          name: Run linter 
          working_directory: ~/repo/plasma_framework/python_tests
          command: | 
            . ~/venv/bin/activate
            make lint
  
  Python long running tests:
    executor: python_executor
    working_directory: ~/repo
    steps:
      - setup_python_env
      - run:
          name: Run slow tests
          working_directory: ~/repo/plasma_framework/python_tests
          no_output_timeout: 5h # Circl CI limits to 5hr max: https://discuss.circleci.com/t/job-times-out-after-5-hours/32220/3
          command: |
            . ~/venv/bin/activate
            make runslow 

workflows:
  version: 2
  Run python tests:
    jobs:
      - Python tests
      - Python linter

  Run truffle tests:
    jobs:
      - Truffle tests
      - Solidity coverage
      - Javascript linter
      - Solidity linter
  
  Run python slow tests:
    jobs:
      - Python long running tests
    triggers:
      - schedule:
          cron: "0 0 * * 1" # run job every monday at midnight
          filters:
            branches:
              only:
                - master

